* {
    box-sizing: border-box;

}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
/* break the top elements into a list if the screen cant display the whole page */
}
body {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #242424;
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
main {
    overflow-x: break-word;
    min-width: 0px;
    padding: 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.top {
    display: flex;
    flex-shrink: 95%;
    align-items: center;
    justify-content: space-around;
    min-width: 0px;
    min-height: min-content;
    line-break: start;
    gap: 5rem;
    overflow: scroll;
    flex-flow: wrap;
}
#crypto-top {
    display: flex;
    align-items: top;
    justify-content: space-around;
    min-width: 0px;
}
#crypto:hover {
    background-color: #4747475a;
    border-radius: 5px;
}

h1.time {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    line-break: end;
    min-width: fit-content;
}

div#crypto {
    font-size: 140%;
    display: flex;
    gap: 5rem;
    overflow-x: scroll;
    align-items: center;
    justify-content: space-around;
    min-width: 50%;
    flex-flow: wrap;
    min-width: 100%s;
}
img {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}
div.crypto-container {
    text-shadow: 0px 0px 20px #242424;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x: scroll;
    min-width: 0px;
}

div#weather {
    font-size: 200%;
    display: table;
    border-radius: 20px;
    padding: 1.5rem;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}
#weather-container {
    display: flex;
    justify-content: right;
    align-items: baseline;
    overflow: scroll;
}
#weather_icon {
    width: 6rem;
    height: 6rem;
}
/* show the element with the hide class on hover */
#weather_container:hover .hide {
    display: block;
    justify-content: left;
    align-items: flex-start;
}
/* hide the element with the hide class */
.hide {
    display: none;
}
div#weather:hover {
    background-color: #4747475a;
    border-radius: 5px;
}
/* div#weather_container:hover {
    background-color: #1e1e1ed9;
} */
div#weather:hover .hide {
    display: block;
}
#temp {
    font-size: 200%;
}
#author {
    font-size: 75%;
    text-align: right;
    position: relative;
    bottom: 0;
    right: 0;
}
#middle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: fit-content;
}
#coin {
    gap: 15px;
}
#coin_img{
    height: 100px;
    width: 100px;
}
#extended_weather {
    z-index: 2;
    padding: auto;
}

#advanced_weather {
    padding: auto;
    font-size: 35px;
}
#advanced_weather:hover {
    background-color: #242424;
    border-radius: 10px;
    border-color: #242424;
    background-size: auto;
    padding: auto;
}
#search_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    max-width: 100%;
    min-width: fit-content;
}
#ipInfo {
    display: flex;
    align-items: center;
    justify-content: right;
    align-self: top;
    gap: 15px;
    flex-grow: 0.5;
}
#ip {
    font-size: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    max-width: 100%;
    min-width: fit-content;
    border-radius: 7px;
    border-color: transparent;
}
#ipButton {
    background-image: url(assets/ip_icon.jpg);
    size: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 45%;
    border: none;
    outline: none;
    cursor: pointer;
}
#searches {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    gap: 15px;
    max-width: 100%;
    min-width: fit-content;
    flex-flow: wrap;
}